<app-preloader-user *ngIf="isLoading"></app-preloader-user>
<!-- search popup start-->
<div class="td-search-popup" id="td-search-popup">
  <form action="index.html" class="search-form">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search.....">
    </div>
    <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
  </form>
</div>
<!-- search popup end-->
<div class="body-overlay" id="body-overlay"></div>
<app-navbar-user></app-navbar-user>
<app-banner-user></app-banner-user>

<!-- team details page -->
<div class="main-blog-area pd-top-120 pd-bottom-120">
  <div class="container">
    <div class="team-details-page">
      <div class="row">
        <div class="col-lg-5">
          <div class="thumb" *ngIf="userLogoUrl">
            <img [src]="userLogoUrl" alt="img">
          </div>
        </div>
        <div class="col-lg-7 align-self-center mt-5 mt-lg-0">
          <div class="details">
            <div class="section-title text-center">
              <h6 class="sub-title double-line">This is the last step to get started.</h6>
              <h2 class="title">Upload your logo.</h2>
            </div>
            <form>
            <input type="text" class="form-control" [(ngModel)]="email" name="email" id="email">
            <br>
            <input type="file" (change)="onFileSelected($event)" name="file" id="file">
            <br><br>
              <div class="nav-right-part nav-right-part-desktop">
            <button class="btn btn-base" (click)="onUpload()">Upload</button>
              </div>
            </form>
            <br>
            <ul class="social-media style-base pt-4">
              <li>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- team details page end -->


<app-footer-user></app-footer-user>


